body {
  background-color: rgb(149, 238, 60);
 }
     article section div{
    
     width:75%;
    float: left;

 }
   aside div {
    width:24%;
    float: left;
   
   }
  
img {
   width: 100%;
  height: auto;
}
article section div img {
  width: 49% ;
  height: auto;
}
 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

 nav li {
  float: left;
  font-size=24x;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2dd5cd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}

p {
  font-size: 24px;
}
footer div{
   text-align: center;
   float: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
ul {
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}


li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

